body {
  background-color: #292929;
  font-size: 12pt;
  font-family: GenerikaMono, serif;
  color: #fff;
}
section {
  width: 960px;
  margin: 0px auto;
  padding: 50px 0 50px 0;
  overflow: auto;
}
a {
  color: inherit;
}
a:hover {
  color: #fff;
}
p,
li,
pre {
  font-weight: 100;
}
pre {
  font-family: GenerikaMono, monospace;
}
hr {
  height: 1px;
  border: 0;
  clear: left;
}
h1 {
  font-size: 44pt;
  line-height: 60px;
  margin: 0;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}
h2 {
  color: #ff7600;
  font-size: 18pt;
  line-height: 24px;
  margin: 0;
}
h2 + hr {
  background-color: #fff;
}
h3 {
  color: #ff7600;
  font-size: 16pt;
  font-weight: 100;
  margin-bottom: 0;
}
input,
label,
textarea,
select {
  display: block;
}
label {
  color: #ff7600;
  font-weight: 100;
}
input,
textarea,
select {
  background-color: #ff7600;
}
label {
  margin-bottom: 15px;
}
hr {
  background-color: #ff7600;
}
em {
  font-weight: 100;
  font-size: 14pt;
  font-style: normal;
}
tr td+td {
  padding-left: 30px;
}
td {
  font-weight: 100;
}
#nav {
  width: 100%;
  height: 70px;
  position: fixed;
  background-color: #292929;
  background-color: rgba(48,48,48,0.81);
  z-index: 100;
}
#nav-box {
  width: 960px;
  margin: 0px auto;
  display: table;
}
#nav-box img {
  margin-top: 13px;
}
#nav-content {
  height: 50px;
  padding: 25px 0 0 0;
  float: right;
}
#nav-content li {
  list-style: none;
  line-height: 15px;
  float: left;
  padding-right: 25px;
  color: #ff7600;
  font-weight: normal;
}
#nav-content li a {
  text-decoration: none;
}
#nav-content li img {
  margin: 0;
}
#header {
  position: relative;
}
#header #rotator {
  width: 100%;
  height: 660px;
}
#header #rotator .slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100%;
}
#header h1 {
  top: 100px;
  position: absolute;
  width: 400px;
}
#header .quick-nav {
  bottom: 0px;
  margin-left: 80px;
  position: absolute;
  width: 800px;
  height: 120px;
}
#header .quick-nav div {
  overflow: auto;
}
#header .quick-nav div > img {
  float: right;
  width: 8px;
  height: 20px;
}
#header .quick-nav div .quick-nav-controls {
  background-color: #292929;
  width: 780px;
  height: 20px;
  float: right;
}
#header .quick-nav div .quick-nav-controls p {
  margin: 2px 0 0 5px;
  font-size: 10pt;
}
#header .quick-nav .quick-nav-content {
  background-color: #ff7600;
  width: 100%;
  height: 100px;
  overflow: hidden;
}
#header .quick-nav .quick-nav-content .quick-nav-item {
  width: 33%;
  position: relative;
  float: left;
}
#header .quick-nav .quick-nav-content .quick-nav-item img {
  float: left;
  width: 75px;
  height: 75px;
  margin: 10px 10px 0 10px;
}
#header .quick-nav .quick-nav-content .quick-nav-item p {
  color: #000;
  font-weight: normal;
  line-height: 24px;
  font-size: 14pt;
  margin-top: 16px;
}
#header .quick-nav .quick-nav-content .quick-nav-item .line {
  width: 1px;
  height: 90px;
  background-color: #000;
  position: absolute;
  top: 5px;
  right: 0px;
}
#header .video {
  position: fixed;
  right: 0px;
  top: 140px;
}
#header .video .tab {
  width: 90px;
  height: 100px;
}
#header .video .tab img {
  width: 24px;
  height: 100%;
  float: left;
}
#header .video .tab .background {
  position: absolute;
  width: 66px;
  height: 100%;
  left: 24px;
  background-color: #292929;
  background-color: rgba(48,48,48,0.81);
}
#header .video .tab .background p {
  color: #ff7600;
  font-size: 10pt;
  text-align: right;
  margin: 22px 18px 0 0;
  font-weight: normal;
  cursor: hand;
  cursor: pointer;
}
#header .video .background {
  position: absolute;
  width: 700px;
  height: 380px;
  top: 0px;
  left: 90px;
  background-color: #292929;
  background-color: rgba(48,48,48,0.81);
  overflow: auto;
}
#header .video .background iframe {
  width: 540px;
  height: 304px;
  margin: 8px 0 0 10px;
}
#header .video .background p {
  margin: 0 0 0 10px;
}
#header .video .background p.date {
  margin-top: 5px;
  font-weight: normal;
}
#header .video .background .line {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 2px;
  height: 360px;
  margin: 10px 122px 0 0;
}
#packages h2 {
  margin: 6px 0 0 0;
}
#packages .left {
  padding-right: 10px;
}
#products .thumb {
  margin-right: 12px;
}
#services img {
  margin: 0 0 10px 0;
  width: 100%;
  height: 250px;
}
#faq > h3 {
  cursor: hand;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 15px;
}
#faq > p {
  display: none;
}
#quote #success-message {
  display: none;
  background-color: #008000;
}
#quote #error-message {
  display: none;
  background-color: #b10;
}
#quote input,
#quote select {
  width: 70%;
}
#quote input[type='submit'],
#quote select[type='submit'] {
  display: inline-block;
  width: 100px;
  font-family: GenerikaMono;
  border: 0;
  margin: 20px 0 0 0;
}
#footer {
  background-image: url("../img/footer.jpg");
  background-repeat: repeat;
  width: 100%;
  height: 70px;
}
#footer .content {
  padding-top: 14px;
}
#footer p {
  font-size: 8pt;
  color: #000;
  padding-top: 7px;
}
.center {
  margin: 0 auto;
}
.content {
  width: 960px;
  margin: 0px auto;
}
.column {
  width: 48%;
}
.orange {
  background-color: #ff7600;
}
.white {
  background-color: #fff;
}
.section-divider {
  background-image: url("../img/divider.jpg");
  background-repeat: repeat;
  width: 100%;
  height: 6px;
}
p.details {
  font-size: 14pt;
}
.left {
  float: left;
}
.right {
  float: right;
}
.thumb {
  float: left;
  margin-right: 66px;
}
label.error {
  color: #b10;
}
input.error,
textarea.error {
  background-color: #b10;
}
.multicolumn2 > .column {
  width: 48% !important;
}
.multicolumn2 div:first-child {
  float: left !important;
}
.multicolumn2 div:first-child + div {
  float: right !important;
}
.multicolumn2 .cms_multi .column {
  width: 96%;
}
@font-face {
  font-family: GenerikaMono;
  font-weight: normal;
  src: url("generikamono-regular-webfont.eot");
  src: url("generikamono-regular-webfont.eot?#iefix") format('embedded-opentype'), url("generikamono-regular-webfont.woff") format('woff'), url("generikamono-regular-webfont.ttf") format('truetype'), url("generikamono-regular-webfont.svg#svgFontName") format('svg');
}
@font-face {
  font-family: GenerikaMono;
  font-weight: 100;
  src: url("generikamono-light-webfont.eot");
  src: url("generikamono-light-webfont.eot?#iefix") format('embedded-opentype'), url("generikamono-light-webfont.woff") format('woff'), url("generikamono-light-webfont.ttf") format('truetype'), url("generikamono-light-webfont.svg#svgFontName") format('svg');
}
